@media (min-width:1025px) { 
  .container { 
    width: 400px !important;
    min-height: 100%;
  } 
}
@font-face{
    font-family: 'VarelaRound';
    src: url('fonts/VarelaRound-Regular.ttf');
}
*{
  font-family: 'VarelaRound';    
}
html,#root{
  font-family: 'VarelaRound';    
  background-color: rgb(233, 236, 241); 
  min-height: 100%;
}

.container {
  font-family: 'VarelaRound';    
    background-color: rgb(233, 236, 241); 
}
.d-flex {
  font-family: 'VarelaRound';    
  
}
input {
  border: none;
  background-color: white; 
}

.headerPage{
  position: fixed !important;
  top: 70pt !important;
  width: 100% !important;
  z-index:  1040 !important;
  padding-bottom: 20pt !important;
  background-color: rgb(233, 236, 241) !important;
}
