@media (min-width:1025px) { 
  .container { 
    width: 400px !important;
    min-height: 100%;
  } 
}
@font-face{
    font-family: 'VarelaRound';
    src: url('fonts/VarelaRound-Regular.ttf');
}
*{
  font-family: 'VarelaRound';    
}
html,#root{
  font-family: 'VarelaRound';    
  background-color: rgb(233, 236, 241); 
  min-height: 100%;
}

.container {
  font-family: 'VarelaRound';    
    background-color: rgb(233, 236, 241); 
}
.d-flex {
  font-family: 'VarelaRound';    
  
}
input {
  border: none;
  background-color: white; 
}

.headerPage{
  position: fixed !important;
  top: 70pt !important;
  left:312pt;
  right:320pt;
  z-index:  1040 !important;  
  background-color: rgb(233, 236, 241) !important;
}

@media  (max-width: 400px){
  .headerPage{
    left:0pt;
    right:8pt;
  }
}
.dropdown-toggle::before{
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  box-sizing: border-box;

}
.filter-reports{
 padding: 0; 
 
}
.dropdown-toggle::after{
  display: none;
 
}