* {
    /* font-size: 14pt; */
    /* position: absolute;
    left: 377pt;
    top: 184pt;    
    border-radius: 4pt;*/
}
h1 {
    /* font-size: 32pt; */
    font-weight: bold;
    /* position: absolute;
    left: 100pt;
    top: 150pt; */
}
input{
    height:32pt;
    font-size: 16 pt;
    border-radius: 4pt;
}
h4 {
    color: rgb( 66 ,91 ,206);
    font-weight: 600;
}
.form-control  {
    border: none;
}
.required:before {
    content:" *";
    width: 3pt;
    height: 3pt;
    color: rgb(255, 146, 0);
}
.short-text-input{
    /* width: 133 pt; */
}
.long-text-input{

    /* width: 266pt; */
}
#formContainer{
    width: 265pt;
}
#submitBtn {
    color: white;
    background-color: rgb(48 ,67 ,239);
}
#person_general_description{
    opacity: 83%;
    
}
#locationTextContainer{
    background-color: white;
    
}
#locationTextInput{
    width: 266pt;
    background-color: white;
    vertical-align: middle;
}
#locationChangeBtn{
    color: rgb(66, 91, 206);
    background-color: white;
    font-size: 14pt;
}