* {
    font-size: 12pt;
}
h1 {    
    font-weight: bold;
    margin-bottom: 23.5pt;    
}
input{
    height:32pt;
    font-size: 12pt;
    border-radius: 4pt;
    
    background-color: white ;

}

input[type="radio"].colorSelect:checked+label{
    border: 2pt solid black !important ;
    
}

 
::-webkit-calendar-picker-indicator::after {
    background-image: url('/src/images/calendar.png');
    color:Cornsilk;
    
    font-size:14pt;
    transition:all ease 400ms;
    transform:scale(1);
    margin-left:5px;
    direction: rtl;
  }



::-webkit-date-and-time-value{ 
    padding: 0;
    margin: 0;
}

.MuiFormControl-root{
    border:none;
    position: inherit;
}
.MuiOutlinedInput-root{
    border:none;
}
.requiredFieldMsg{
    margin-top: 25pt;    
    margin-bottom: 30pt;
    font-size: 12pt;
}
.form-check-input[type=radio]{
    border-radius: 4pt;
}
.form-check-label{
    margin-right: 9pt;
    padding-top: 2pt;
}
h4 {
    color: rgb( 66 ,91 ,206);
    font-weight: 600;
}
.form-control  {
    border: none;
}
.required-astrix:before {
    content:" *";
    width: 3pt;
    height: 3pt;
    margin-left: 6pt;
    color: rgb(255, 146, 0);
}



.redirectBtn  {
    color: white;
    background-color: rgb(48 ,67 ,239);
    width: 184pt;
    height: 53pt;
    border-radius: 32pt;
}


#locationTextInput{
    
    background-color: white;
    vertical-align: middle;
}
#locationChangeBtn{
    color: rgb(66, 91, 206);
    background-color: white;
    font-size: 12pt;
    width: 59pt;
}
#notify_meContainer{
    margin-top: 25pt;
}