* {
    font-size: 12pt;
}
h1 {
    /* font-size: 32pt; */
    font-weight: bold;
    margin-bottom: 23.5pt;
    /* position: absolute;
    left: 100pt;
    top: 150pt; */
}
input{
    padding-right: 5pt;
    height:32pt;
    font-size: 12pt;
    border-radius: 4pt;
    background-color: white ;

}
#datetime-local{
    font-family: 'VarelaRound';    
    background-color: white ;
    padding-right: 5pt;
    width: 100%;
    height: 22pt;
    margin-top: 5pt;
    
}
#datetime-local-label:before {
    content:" *";
    width: 3pt;
    height: 3pt;
    margin-left: 6pt;
    color: rgb(255, 146, 0);
}
#datetime-local-label{
    font-family: 'VarelaRound';    
    color: black;
    font-size: 16pt;
    font-weight: 500;
    
}
.MuiPopover-root{
    direction: ltr;
}

::-webkit-calendar-picker-indicator::after {
    background-image: url('/src/images/calendar.png');
    color:Cornsilk;
    opacity:1;
    font-size:14pt;
    transition:all ease 400ms;
    transform:scale(1);
    margin-left:5px;
    direction: rtl;
  }
  ::-webkit-datetime-edit{
      padding:0pt;
  }
  ::-webkit-datetime-edit-fields-wrapper {
    
    padding:0pt;
  }
  ::-webkit-datetime-edit { padding: 0; }

::-webkit-datetime-edit-text { padding: 0 }
::-webkit-datetime-edit-month-field { padding: 0 }
::-webkit-datetime-edit-day-field { padding: 0 }
::-webkit-datetime-edit-year-field { padding: 0 }
::-webkit-inner-spin-button { padding: 0; }
::-webkit-date-and-time-container{
    padding: 0;
}
::-webkit-datetime-edit{
    padding: 0;
}
/* //HEEEEEEEEERRRRRREEE date */
::-webkit-date-and-time-value{ 
    padding: 0;
    margin: 0;
}
.padding-date{
    padding :0 10 ;
}
.form-control{
    padding-left: 0 ;
    padding-right: 0 ;
    margin-left: 0;
    margin-right: 0;
}
.requiredFieldMsg{
    margin-top: 25pt;    
    margin-bottom: 30pt;
    font-size: 12pt;
}
.form-check-input[type=radio]{
    border-radius: 4pt;
}
.form-check-label{
    margin-right: 9pt;
    padding-top: 2pt;
}
h4 {
    color: rgb( 66 ,91 ,206);
    font-weight: 600;
}
.form-control  {
    border: none;
}
.required-astrix:before {
    content:" *";
    width: 3pt;
    height: 3pt;
    margin-left: 6pt;
    color: rgb(255, 146, 0);
}

 .inputLabel{
    margin-top: 14pt;
} 
.containerForm{
    margin-top: 29pt;
}
#formContainer{
    width: 265pt;
}
#distressText{
    margin-top: 10pt;
}
#submitBtn {
    color: white;
    background-color: rgb(48 ,67 ,239);
    width: 184pt;
    height: 53pt;
    border-radius: 32pt;
}
#person_general_description{
    opacity: 83%;
    
}
#locationTextContainer{
    margin-top: 15.5pt;
    
}
#locationTextInput{
    
    background-color: white;
    vertical-align: middle;
}
#locationChangeBtn{
    color: rgb(66, 91, 206);
    background-color: white;
    font-size: 12pt;
    width: 59pt;
}
#notify_meContainer{
    margin-top: 25pt;
}