*{
    font-size: 10pt;
}
ul {
    padding-inline-start:0 !important;
}
.description{
    font-size: 20pt;
}
.icon {
    height: 25pt !important;
    width: 25pt !important;
}
.dropdown{
    direction: ltr;
}
.blue {
    color:rgb(66, 91, 206);
}
.black{
    color:black;
}
.close-report-btn{
    background-color:rgb(128,128,128);
    color:rgb(255,255,255)
}